.door {
    float: left;
    width: 50%;
    height: 50vh;
    box-sizing: border-box;
    line-height: 50vh;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    box-shadow: 1px 1px 10px rgba(158, 199, 77, 0.667);
    cursor: pointer;
}