    $headerHeight: 80px;
    $leftMenuWidth: 0;
    .layout-main {
        height: 100vh;
        width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
        .header {
            height: $headerHeight;
            width: 100%;
            position: relative;
            .name {
                position: absolute;
                height: 100%;
                left: 10px;
                line-height: $headerHeight;
                font-size: 20px;
                font-family: KaiTi;
            }
            .nav-container {
                width: 60%;
                position: absolute;
                height: 100%;
                line-height: $headerHeight;
                right: 0;
                display: flex;
                justify-content: center;
                a {
                    flex: 1;
                    max-width: 80px;
                    height: 100%;
                    font-size: 20px;
                    letter-spacing: 5px;
                    color: black;
                    &:hover {
                        color: rgb(233, 127, 127);
                    }
                }
            }
        }
        .left-menu {
            height: 100vh;
            width: $leftMenuWidth;
            position: absolute;
            left: 0;
            .head-img {
                width: 100%;
                display: inline-block;
                img {
                    width: 100%;
                }
            }
        }
        .body {
            padding-left: $leftMenuWidth;
            width: 100%;
            // display: inline-block;
            height: 100vh;
            padding-top: $headerHeight;
            box-sizing: border-box;
        }
    }