.body {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url('../../assets/img/login-bg.jpg') 100% 100% no-repeat;
    background-clip: content-box;
    background-origin: content-box;
    background-size: 1600px;
    // background: linear-gradient(to top, rgb(88, 88, 85), rgb(120, 165, 165), rgb(230, 236, 198));
    .login-main {
        width: 42vh;
        height: 45vh;
        max-width: 300px;
        max-height: 320px;
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        opacity: 0.85;
        bottom: 0;
        border-radius: 10px;
        // background: rgb(233, 238, 214);
        // box-shadow: 7px 7px 24px #4c4949;
        .header-img {
            position: absolute;
            width: 50%;
            height: 0;
            padding-bottom: 50%;
            border-radius: 50%;
            background: rgb(122, 170, 169);
            top: -20%;
            right: 25%;
        }
        .title {
            margin-top: 30%;
            margin-bottom: 10%;
            text-align: center;
            font-weight: 500;
        }
        .form-group {
            margin: auto;
            margin-bottom: 10px;
            width: 70%;
            margin-top: 20px;
            input {
                width: 100%;
                border-radius: 5px;
                height: 5vh;
                box-shadow: none;
                // background: rgb(230, 237, 197);
            }
        }
        button {
            display: block;
            margin: 0 auto;
        }
    }
}

.switcher {
    width: 60px;
    height: 30px;
    line-height: 1;
    text-align: center;
    position: absolute;
    cursor: pointer;
    &.register {
        bottom: 0;
        right: 0;
    }
    &.login {
        bottom: 0;
        left: 0;
    }
}