.did-list-container {
    width: 70%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    float: left;
}

.todo-list-container {
    width: 30%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    float: right;
}

.main-door {
    .door {
        float: left;
        width: 50%;
        height: 50vh;
    }
}