.detail-main {
    max-width: 1200px;
    margin: auto;
    height: 100vh;
    box-sizing: border-box;
    padding-bottom: 60px;
    overflow-y: scroll;
    overflow-x: hidden;
    .header {
        text-align: center;
        font-size: 20px;
        padding: 5vh
    }
    .desc {
        color: #ccc;
        font-size: 14px;
        text-align: center;
        span {
            margin-right: 20px;
        }
    }
    .content {
        width: 80%;
        max-width: 666px;
    }
}