<router-outlet>
</router-outlet>
<div class="light-container" [@openClose]="isOpen ? 'open' : 'closed'" #flash>
    <div *ngFor="let items of flashTypeList;let index" class="tab-item" (click)="openClose(items,index)" [@activeTag]="items.isActive?'true':'false'">
        <span>{{isOpen&&items.isActive?'>>':items.title}}</span>
    </div>
    <div class="content-body">
        <ng-container *ngFor="let items of flashTypeList">
            <div class="content" [@activeContent]="items.contentPosition" *ngIf="items.contentPosition==='on'">
                <h1>{{items.title}}</h1>
                <div class="form-container">
                    <form>
                        <input type='textarea' name='content' [(ngModel)]='flashData["content"]'>
                        <button type="submit" class="btn btn-success" (click)='onSubmit()'>Submit</button>
                    </form>
                </div>
                <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
                    <div *ngFor="let item of items.list" class="example-box" cdkDrag>
                        {{item.content}}
                    </div>
                </div>
            </div>
        </ng-container>
    </div>

</div>