.choose-list-main {
    border: 1px dotted black;
    padding: 10px 20px;
    display: inline-block;
    margin-left: 10px;
    box-shadow: 2px 2px 1px #c3a8a8;
    border-radius: 5px;
    .item {
        padding: 5px 10px;
        margin: 5px 13px;
        cursor: pointer;
        // box-shadow: 1px 1px 1px #e2d6d6;
        background: #babdbfcf;
        border-radius: 5px;
        color: white;
        -moz-user-select: none;
        -khtml-user-select: none;
        user-select: none;
        display: inline-block;
        &.choosed {
            background: #7a5c0e;
        }
    }
}